{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}

    <div class="container-principal">
        <div class="titre">
            <h3>MISSION</h3>
            <br>
            <h4>Choisir le prochain voyage de Marina</h4>
        </div>

        {{ form_start(form) }}

        <div class="conteneur-principal-vote">
            {% for destinationField in form.destination %}
                {% set index = destinationField.vars.value %}
                {% set entity = form.destination.vars.choices[index].data %}

                <div class="cont-choix">
                    <div class="conteneur-img-label">
                        <img class="img-destination" src="{{ entity.url }}" alt="">

                        <h5 class="label-destination">{{ form_label(destinationField) }}</h5>
                        <h5>{{ form_widget(destinationField) }}</h5>
                    </div>
                </div>


            {% endfor %}


            <button type="submit" class="btn btn-ok btn-success">Je suis sûre de mon choix</button>
        </div>

        {{ form_end(form) }}
    </div>




{% endblock %}