{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}


    <div id="choix_container">
        <h1>
            Je choisi la destination dans laquelle j'envoie Marina pour son
            prochain voyage
        </h1>

        {{ form_start(form) }}
        {% for destinationField in form.destination %}
            {% set index = destinationField.vars.value %}
            {% set entity = form.destination.vars.choices[index].data %}

            <div>
                <div class="">
                    <img class="img-destination" src="{{ entity.url  }}" alt="">
                </div>
                <div>
                    <h3>{{ form_label(destinationField) }}</h3>
                    <h3>{{ form_widget(destinationField) }}</h3>
                </div>
            </div>



        {% endfor %}
        <button type="submit">Voter</button>
        {{ form_end(form) }}


    </div>

{% endblock %}