{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}


    <div id="choix_container">
        <div class="titre">
            <h3>
                Mission : choisir le prochain voyage de Marina
            </h3>
        </div>
        <div class="conteneur-principal-vote"
        {{ form_start(form) }}

        {% for destinationField in form.destination %}
            {% set index = destinationField.vars.value %}
            {% set entity = form.destination.vars.choices[index].data %}

            <div class="">
                <div class="conteneur-img-label">
                    <img class="img-destination" src="{{ entity.url }}" alt="">

                    <h5 class="label-destination">{{ form_label(destinationField) }}</h5>
                    <h5>{{ form_widget(destinationField) }}</h5>
                </div>
            </div>


        {% endfor %}


            <button type="submit" class="btn btn-principal btn-vote">Je suis sûre de mon choix</button>


            {{ form_end(form) }}
        </div>

    </div>

{% endblock %}